allow mediaprovider {
 bg_boot_complete_prop
 console_silent_prop
 cnd_vendor_prop
 boottime_prop
 bootloader_boot_reason_prop
 bluetooth_prop
 bg_daemon_prop}:file { r_file_perms };
