allow mediaprovider {
 bg_boot_complete_prop
 console_silent_prop
 cnd_vendor_prop
 boottime_prop
 ctl_LKCore_prop
 ctl_atfwd_prop
 ctl_bootanim_prop
 ctl_default_prop
 ctl_dumpstate_prop
 ctl_bugreport_prop
 ctl_console_prop
 bootloader_boot_reason_prop
 bluetooth_prop
 bg_daemon_prop}:file { r_file_perms };
