# Lenovo parts
allow system_app sysfs_kcal:dir search;
allow system_app sysfs_kcal:file rw_file_perms;
allow system_app sysfs_vibrator:dir search;
allow system_app sysfs_vibrator:file rw_file_perms;
allow system_app sysfs_s2s:dir search;
allow system_app sysfs_s2s:file rw_file_perms;
allow system_app sysfs_torch:dir search;
allow system_app sysfs_torch:file rw_file_perms;
allow system_app sysfs_touchpanel:dir search;
allow system_app sysfs_touchpanel:file rw_file_perms;
allow system_app charging_limiter_sysfs:dir search;
allow system_app charging_limiter_sysfs:file rw_file_perms;


# Spectrum
allow system_app spectrum_prop:property_service set;
get_prop(system_app, spectrum_prop);
allow system_app fingerprintd:binder { call };
allow system_app {
 bg_boot_complete_prop
 bg_daemon_prop
 bootloader_boot_reason_prop
 boottime_prop
 cnd_vendor_prop
 ctl_fuse_prop
 ctl_qcrild_prop
 ctl_restart_prop
 ctl_rildaemon_prop
 ctl_sigstop_prop
 ctl_start_prop
 ctl_interface_restart_prop
 ctl_interface_start_prop
 ctl_interface_stop_prop
 ctl_mdnsd_prop
 console_silent_prop
 ctl_atfwd_prop
 ctl_bootanim_prop
 ctl_console_prop
 ctl_LKCore_prop }:file { r_file_perms };

allow system_app sysfs_battery_supply:file open;
allow system_app sysfs_battery_supply:file getattr;
allow system_app sysfs_battery_supply:file write; 
allow system_app sysfs_battery_supply:dir search;
allow system_app sysfs_battery_supply:lnk_file read;
allow system_app sysfs_battery_supply:file rw_file_perms;