allow ueventd sysfs_smart_charger:file w_file_perms;
allow ueventd sysfs_smart_charger:dir search;

typeattribute ueventd data_between_core_and_vendor_violators;
allow ueventd wifi_vendor_data_file:dir search;
allow ueventd wifi_vendor_data_file:file { getattr open read };

allow ueventd persist_file:dir r_dir_perms;
allow ueventd persist_file:file r_file_perms;
